*{
    margin: 0;
    padding: 0;
}


body{
    background-color:rgb(31, 31, 31);
    height: 100vh;
    font-family: 'Lalezar', cursive;
}


.text-gradient {
    background: linear-gradient(to right, #2f24ca, #ba12c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 1.2em;
    font-size: 1.69em;
    text-transform: uppercase;
} 

.btn {
    font-family: sans-serif;
    padding: 12px 32px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    border-radius: 50px;
    font-size: 0.8em;
    letter-spacing: 2px;
    background-color: transparent;
    text-transform: uppercase;
    color: rgb(1, 110, 218);
}

.btn-gradient-border {
    border: 2px double transparent;
    background-image: linear-gradient(rgb(31, 31, 31), rgb(31, 31, 31)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: 0.2s ease all;

}
.btn:hover{
    transition: 0.2s ease all;
    color: white;
    background-image: linear-gradient(rgba(68, 78, 212, 0.4), rgba(192, 85, 172, 0.4)), radial-gradient(circle at left top, rgba(1, 110, 218, 0.1), rgba(217, 0, 192, 0.1));

}
.addBook{
    text-align: center;
}

.formModal{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(31, 31, 31);
    display: none;

}
.formModalActive{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.formModalForms{
    display: flex;
    flex-direction: column;
}
.closeModalButton{
    position: absolute;
    top: 10%;
    right: 10%;
    padding: 10px 20px;
    font-size: 2em;
    color: white;
    background-color: transparent;
    border: none;
    transition: 0.2s ease all;
    cursor: pointer;
}
.closeModalButton:hover{
    color: rgb(252, 4, 4);
    transition: 0.2s ease all;
}
form{
    display: flex;
    width: 80vw;
}
form span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;    
}
label{
    color: white;
    letter-spacing: 2px;
    margin: 0 auto;
}

.bookTitleInput{
    width: 80%;
    border-radius: 50px;
    position: relative;
    height: 3em;
    padding-left: 10px;
    font-size: 1.1em;
    max-width: 70%;
}
.bookTitleInput:focus{
    outline: none;
}
.formButtonContainer{
    margin-top: 4.20em;
}
.bookContainer {
    height: 70%;
    margin-top: 9%;
    padding: 2em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border: 1px solid red;
}
.book{
    background: linear-gradient(135deg, rgb(47, 128, 237) 0%, #B2FFDA 100%);
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 0 80px rgb(2, 110, 252), 0 0 32px rgba(172, 246, 184, 0.24);
}
.book2{
    box-shadow: 0 0 80px #0c9d30, 0 0 32px #b678b078;
    background: linear-gradient(135deg, #0c9d30 0%, #f4f4f4 100%);
    border-radius: 15px;
    margin: 15px;
}
.book3{
    box-shadow: 0 0 80px #d33d17, 0 0 32px #b678b078;

    background: linear-gradient(135deg, #d33d17 0%, #e4e6e8 100%);
    border-radius: 15px;
    margin: 15px;
}

