body{
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.testGrid{
    display: grid;
    grid-template:  100px 100px 100px 100px 100px/ 100px 100px 100px 100px 100px;
    background-color: rgb(80, 3, 3);
}

.gridItem{
    border: 1px solid green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#one{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

