body{
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.testGrid{
    display: grid;
    grid-template-columns: repeat(6,100px);
    grid-template-rows: repeat(6,100px);

}

.gridItem{
    border: 1px solid red;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#one{
    grid-area:1/1/2/6;
}
#two{
    grid-area:2/2/5/5;
}
#three{
    grid-area:2/1/6/2;
}
#four{
    grid-area:2/6/6/5
}
#five{
    grid-area:6/2/5/5
}